body {
    background-color: rgb(185, 255, 255);
}

h3 {
    font-size: 25px !important;
}
.btn-success:hover {
    background-color:darkgreen;
}

canvas {
    animation-name: colors;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes colors {
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px purple;}
}